.infrastructure-main-card {
    padding-bottom: 70px;

    .tab-for-graph {
        .heading-sm1 {
            letter-spacing: 0.14px;
            color: #113689;
            font-size: 24px;
            font-weight: 600;
            margin: 0 15px 0 0;

            @media (max-width:1599px) and (min-width: 1361px) {
                font-size: 20px;
            }

            @media (max-width:1360px) and (min-width: 1024px) {
                font-size: 18px;
            }
        }

        .nav-tabs .nav-link {
            color: #212121;
            font-size: 14px;
            padding: 7px 15px;
            background: #E2E2E2;
            margin-bottom: 8px;
            border: 1px solid #E2E2E2;
            margin-right: 0px;

            @media (max-width:1599px) and (min-width: 1361px) {
                font-size: 12px;
                padding: 7px 12px;
            }

            @media (max-width:1360px) and (min-width: 1024px) {
                font-size: 10px;
                padding: 7px 12px;
            }

        }

        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            color: #ffffff;
            background-color: #2A2A2A;
            border-color: #2A2A2A;
        }

        .customize-btn {
            background: #E2E2E2;
            color: #000;
            font-weight: 600;
            font-size: 15px;
            padding: 8px 20px;
            float: right;
            margin-top: 15px;
            position: static;

            @media (max-width:1599px) and (min-width: 1361px) {
                font-size: 14px;
                margin-top: 12px;
            }

            @media (max-width:1360px) and (min-width: 1024px) {
                font-size: 12px;
                margin-top: 7px;
                padding: 7px 15px;
            }

            span.material-icons-round {
                font-size: 20px;
                margin-right: 5px;
                color: #254895;
            }
        }

        .tab-text-infra.download-rep {
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            span.material-icons-round {
                border: 1px solid #444;
                border-radius: 10px;
                padding: 4px;
                font-size: 20px;
                margin-left: 5px;
            }
        }


        .report-inner-tab {
            .nav-tabs {
                background: #fff;
                display: inline-flex;
                padding: 8px 15px;
                border-radius: 40px;
            }

            .nav-tabs .nav-link {
                background: #fff;
                border: 1px solid #fff;
                margin-bottom: 0px;
                padding: 7px 20px;
            }

            .nav-tabs .nav-item.show .nav-link,
            .nav-tabs .nav-link.active {
                color: #ffffff;
                background-color: #113689;
                border-color: #113689;
            }
        }

        .about-card {
            background: #fff;
            padding: 25px;
            border-radius: 15px;
        }

        .heading-sm2 {
            font-size: 24px;
        }

        .btn-add-more {
            background: #F7EDD6;
            color: #FABF38;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            border-radius: 5px;
            cursor: pointer;
        }

        table tr th {
            color: #212121 !important;
            font-weight: 600 !important;
            padding: 12px 15px !important;
            white-space: nowrap;
        }

        .text-blue {
            color: #254895;
        }

        .heading-sm.heading-sm2 {
            font-size: 20px;
            display: flex;
            align-items: center;

            @media (max-width:1599px) and (min-width: 1024px) {
                font-size: 16px;
            }
        }

        .filter-card {
            background: #fff;
            padding: 15px 20px 20px;
            border-radius: 20px;

            input.form-control.border-only-bottom {
                border: 0px;
                border-bottom: 1px solid #b2b1b1 !important;
                border-radius: 0;
                padding-left: 0;
            }

            .heading-sm1 {
                letter-spacing: 0.14px;
                color: #000000;
                font-size: 18px;
                font-weight: 600;
                margin: 0 15px 0 0;

                @media (max-width:1599px) and (min-width: 1024px) {
                    font-size: 15px;
                }

            }

            .indicator-select {
                label.bg-grey2 {
                    background: transparent;
                    top: 3px;
                    color: #000;

                    @media (max-width:1599px) and (min-width: 1024px) {
                        left: 9px;
                        top: 8px;
                    }
                }

                .form-select {
                    height: 50px;
                    border-radius: 35px;
                    padding-top: 12px;
                    font-weight: 600;
                    appearance: auto;
                    padding-left: 25px;
                    padding-right: 10px;

                    @media (max-width:1599px) and (min-width: 1024px) {
                        padding-left: 15px;
                    }

                }
            }

            button.header-dropdown-btn {
                width: 100%;
                justify-content: center;
                font-size: 16px;
                position: static !important;
                @media (max-width:1599px) and (min-width: 1024px) {
                    font-size: 14px;
                }
            }
        }

        a.action-icon {
            margin-right: 10px;
            border: 1px solid #696969;
            border-radius: 40px;
            vertical-align: middle;
            display: inline-block;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 26px;

            img {
                width: 16px;
            }
        }

        .mul-tab-main{
            display: flex;
            align-items: center;
            margin-top: 8px;

            .nav-link{padding: 9px 15px !important;}

            .details-multi{display: none;}

        .multibtn{
            display: flex;
            padding: 5px 8px;
            background: #E2E2E2;
            margin-bottom:8px;
            border: 1px solid #E2E2E2;
            border-radius: 50px;

                .nav-link{    
                    margin-bottom: 0px;
                    font-size: 13px;
                    padding: 5px 15px !important;
                }
                .details-multi{display: block;}

            }

        }

        


    }

}

.custmize-filter-column {
    position: fixed;
    right: 0;
    bottom: 2%;
    background: #fff;
    min-height: 380px;
    width: 350px;
    padding: 20px 20px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 10px 30px #0000001a;
    z-index: 9999999999999999999999999;
    opacity: 0;
    transform-origin: right;
    transform: rotateY(90deg);
    transition: all 500ms ease-in-out;

    @media (max-width:1599px) and (min-width: 1361px) {
        bottom: 2%;
    }

    @media (max-width:1360px) and (min-width: 1024px) {
        bottom: 2%;
    }

    &.show {
        opacity: 1;
        transform: rotateY(0deg);
        transition: all 500ms ease-in-out;
    }

    .form-group.search .form-control {
        background: #F2F2F2;
        height: 50px;
        border-radius: 50px;
        margin-top: 15px;

        @media (max-width:1599px) and (min-width: 1024px) {
            height: 40px;
        }
    }

    .form-group.checkbox {
        background: #F2F2F2;
        margin: 8px 0;
        padding: 6px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-size: 14px;

        @media (max-width:1599px) and (min-width: 1361px) {
            margin: 6px 0;
            padding: 6px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 12px;
        }

        @media (max-width:1360px) and (min-width: 1024px) {
            margin: 6px 0;
            padding: 6px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 12px;
        }

        input {
            margin-right: 10px;
            height: 14px;
            width: 14px;
        }
    }

    button.close-btn {
        background: #ffffff !important;
        height: 35px !important;
        width: 35px !important;
        border: 1px solid #dadada !important;
        border-radius: 50px !important;
        font-size: 10px !important;
        color: #000000 !important;
        font-weight: 600 !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

}

th.report-name-width-50 {
    width: 70%;
}

.ag-theme-custom-height{
    // height: 600px;
    margin-top:25px;
}

.ag-header-row.ag-header-row-column {
    background: #FAF6ED;
    border-color: #e0e0e0;
    color: #212121 !important;
    font-weight: 600 !important;
    padding: 12px 15px !important;
    white-space: nowrap;
    font-size: 0.875rem;
}
.ag-header-cell, .ag-header-group-cell, .ag-cell {
    padding: 0px 11px !important;
}

button.scroll-right-btn {
    background: #113689;
    color: #fff;
    border: 1px solid #113689;
    padding: 2px 8px;
    margin-top: 15px;
    position: static;
    display: inline-flex;
    align-items: center;
    margin-bottom: -10px;
    border-radius: 5px;
}

button.scroll-right-btn .material-icons-round{font-size: 60px;}

button.scroll-right-btn:hover{
    background: #ffffff;
    color: #113689;
}
button.scroll-right-btn .material-icons-round {
    font-size: 35px;
    line-height: 30px;
}

.ag-floating-bottom-container {
    font-weight: 700;
}

.ag-floating-bottom-viewport .ag-cell {
    text-align: right !important;
}